#navbar_entrev {
    margin-left: -80px;
    margin-right: -130px;
    font-size: 17px;
    font-weight: 680;
}

#header_entrev {
    width: 100%;
}

.navBar {
    width: 1000px;
    margin-left: -250px;
}

header img {
    margin-right: -200px;
}
